[submodule "lib/BIGTREETECH-TFT35-V3.0"]
	path = lib/BIGTREETECH-TFT35-V3.0
	url = https://github.com/bigtreetech/BIGTREETECH-TFT35-V3.0.git
[submodule "lib/BIGTREETECH-SKR-V1.3"]
	path = lib/BIGTREETECH-SKR-V1.3
	url = https://github.com/bigtreetech/BIGTREETECH-SKR-V1.3.git
[submodule "Marlin"]
	path = Marlin
	url = git@github.com:cscashby/Marlin.git
	branch = frank-2.0.8
[submodule "lib/BIGTREETECH-TouchScreenFirmware"]
	path = lib/BIGTREETECH-TouchScreenFirmware
	url = https://github.com/bigtreetech/BIGTREETECH-TouchScreenFirmware.git
[submodule "lib/Configurations"]
	path = lib/Configurations
	url = https://github.com/MarlinFirmware/Configurations.git
[submodule "lib/BIGTREETECH-TMC2209-V1.2"]
	path = lib/BIGTREETECH-TMC2209-V1.2
	url = https://github.com/bigtreetech/BIGTREETECH-TMC2209-V1.2.git
